<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- ============ PERMISSIONS RÉSEAU============ -->
    <!-- Permission pour accéder à Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission pour vérifier l'état de la connexion -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission pour les connexions WiFi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- ============ PERMISSIONS SMS ============ -->

    <!-- Pour lire les SMS entrants (auto-détection OTP) -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Pour les SMS API Hash (Google SMS Retriever API) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <!-- ============ PERMISSIONS TÉLÉPHONE============ -->
    <!-- Pour récupérer automatiquement le numéro de téléphone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <!-- ============ PERMISSIONS STOCKAGE============ -->
    <!-- Pour sauvegarder les logs ou cache -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hifadih" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hifadih" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>